body {
  font-family: sans-serif;
  color: #2e3440;
  background-color: #d8dee9;
}

.bg-bg {
  background-color: #e5e9f0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-around {
  justify-content: space-around;
}

.text-gray {
  color: #777
}

.text-center {
  text-align: center;
}

.w-screen {
  width: 100vw;
}

.w-2\/5 {
  width: 40%
}

.w-3\/5 {
  width: 60%
}

.card {
  width: 200px;
  height: 300px;
  padding: 10px 4px 4px 4px;
  border-radius: 4px;
  box-shadow: 3px 3px 3px 3px gray;
}

.card-body {
  padding: 4px;
}

.link {
  color: #2e3440;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
